<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Калькулятор Пифагорейской нумерологии</title>
  <link
    rel="apple-touch-icon"
    sizes="192x192"
    href="./img/apple-touch-icon.ico"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="./img/favicon-32x32.ico"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="./img/favicon-16x16.ico"
  />
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link
    href="https://fonts.googleapis.com/css?family=Nunito&amp;display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="./style.css" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
</head>
<body>
<div id="app" v-cloak>
  <transition name="input-block" mode="in-out">
    <div v-if="!results.ready" class="input-block block-design">
      <h1>
        Пифагорейская нумерология
      </h1>
      <h3>Основное имя:</h3>
      <label>
        <input v-model="secondName" type="text" placeholder="Фамилия" />
      </label>
      <label>
        <input v-model="name" type="text" placeholder="Имя" />
      </label>
      <label>
        <input v-model="patronymic" type="text" placeholder="Отчество" />
      </label>
      <div class="date-input-container">
        <label>
          <input
            :class="{ disabled: !watchDate }"
            :disabled="!watchDate"
            v-model="date"
            type="date"
            placeholder="Введите дату"
            value="1993-09-15"
          />
        </label>
        <label style="width: initial">
          <input
            class="watch-date-checkbox"
            v-model="watchDate"
            type="checkbox"
          />
        </label>
      </div>
      <label>
        <input v-model="otherName" type="checkbox" /> Альтернативное имя
      </label>
      <transition name="other-name">
        <div v-if="otherName">
          <h3>Альтернативное имя:</h3>
          <label>
            <input
              v-model="secondName2"
              type="text"
              placeholder="Фамилия"
            />
          </label>
          <label>
            <input v-model="name2" type="text" placeholder="Имя" />
          </label>
          <label>
            <input
              v-model="patronymic2"
              type="text"
              placeholder="Отчество"
            />
          </label>
        </div>
      </transition>
      <div
        class="m-button"
        @click="countNumbers()"
        :class="{ 'm-button_disabled': !valid }"
      >
        Посчитать
      </div>
      <div
        v-if="savedList.length"
        class="m-button"
        @click="toggleShowSaveList"
      >
        Сохранённые
      </div>
    </div>
  </transition>
  <transition name="saved-list">
    <div v-if="isSavedListShow" class="saved-list-container block-design">
      <ul class="saved-list-list">
        <li class="saved-list-item" v-for="savedItem in savedList" :key="savedItem.header" @click="loadSavedItem(savedItem)">
          {{savedItem.header}}
        </li>
      </ul>
      <div class="button-row ">
        <div class="m-button delete-mode-button" :class="{'enable': deleteMode}" @click="deleteMode = !deleteMode">
          <i class="fas fa-trash"></i>
        </div>
        <div class="m-button" @click="toggleShowSaveList">Закрыть</div>
      </div>
    </div>
  </transition>
  <transition name="fade" mode="in-out">
    <div v-if="results.ready" class="results" ref="results">
      <h3>ФИО, ДР/ Характеристика</h3>
      <p>
        {{ name }} {{ secondName }} {{ patronymic
        }}<span v-if="otherName">
              ({{ name2 }} {{ secondName2 }} {{ patronymic2 }})</span
      ><span class="date" v-if="watchDate"
      >, {{ results.day }}.{{ results.month }}.{{ results.year }}</span
      >
      </p>
      <template v-if="watchDate">
        <h3>
          Число Дня Рождения (ЧДР) – <b>как</b>, каким образом двигается по
          жизни.
        </h3>
        <p>{{ results.CHDR }}/{{ results.CHDR2 }}</p>
        <h3>
          Число Жизненного Пути (ЧЖП) – <b>что</b> делает. Основная задача в
          жизни, путь, по которому идет.
        </h3>
        <p>{{ results.CHJP }}</p>
      </template>
      <h3>
        Число Выражения (ЧВ) – ведущие <b>черты характера</b> и поведения.
      </h3>
      <p>
        {{ results.CHV }} <span v-if="otherName">({{ results.CHV2 }})</span>
      </p>
      <h3>
        Число Души (ЧД) – внутренние <b>мотивы</b>, истинные желания, порывы
        души, направление духовного развития.
      </h3>
      <p>
        {{ results.CHD }} <span v-if="otherName">({{ results.CHD2 }})</span>
      </p>
      <h3>
        Число Личности (ЧЛ) – впечатление на окружающих, <b>имидж</b>,
        внешние характеристики.
      </h3>
      <p>
        {{ results.CHL }} <span v-if="otherName">({{ results.CHL2 }})</span>
      </p>
      <h3>
        Число Реализации (ЧР) – число истинного «Я»,
        <b>конечная цель</b> деятельности, к чему стремится.
      </h3>
      <p>
        {{ results.CHR }} <span v-if="otherName">({{ results.CHR2 }})</span>
      </p>
      <h3
        v-if="
              results.controlNumbers.length || results.controlNumbers2.length
            "
      >
        Управляющие Числа (УЧ)
      </h3>
      <p
        v-if="
              results.controlNumbers.length || results.controlNumbers2.length
            "
      >
        {{ controlNumbersString }}
      </p>
      <h3
        v-if="results.karmicNumbers.length || results.karmicNumbers2.length"
      >
        Кармические Числа (КЧ)
      </h3>
      <p
        v-if="results.karmicNumbers.length || results.karmicNumbers2.length"
      >
        {{ karmicNumbersString }}
      </p>
      <h3>Психоматрица</h3>
      <p>{{psycoMatrix.firstRow}}</p>
      <p>{{psycoMatrix.secondRow}}</p>
      <div class="table-container">
        <table cellspacing="0" cellpadding="0"  class="psycho-matrix-table">
          <tr>
            <td colspan="3">
            </td>
            <td>
              <p class="table-annotation">Темперамент</p>
              <p class="table-number">{{psycoMatrix.interest.length + psycoMatrix.sex.length + psycoMatrix.luck.length || "-"}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="table-annotation">Характер</p>
              <p class="table-number">{{psycoMatrix.character || '-'}}</p>
            </td>
            <td>
              <p class="table-annotation">Здоровье</p>
              <p class="table-number">{{psycoMatrix.health || '-'}}</p>
            </td>
            <td>
              <p class="table-annotation">Везение/удача</p>
              <p class="table-number">{{psycoMatrix.luck || '-'}}</p>
            </td>
            <td>
              <p class="table-annotation">Целеустремленность</p>
              <p class="table-number">{{psycoMatrix.character.length + psycoMatrix.health.length + psycoMatrix.luck.length || '-'}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="table-annotation">Энергия</p>
              <p class="table-number">{{psycoMatrix.energy || '-'}}</p>
            </td>
            <td>
              <p class="table-annotation">Мужское/Женское</p>
              <p class="table-number">{{psycoMatrix.sex || '-'}}</p>
            </td>
            <td>
              <p class="table-annotation">Долг</p>
              <p class="table-number">{{psycoMatrix.duty || '-'}}</p>
            </td>
            <td>
              <p class="table-annotation">Семья</p>
              <p class="table-number">{{psycoMatrix.energy.length + psycoMatrix.sex.length + psycoMatrix.duty.length || '-'}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="table-annotation">Интерес/энтузиазм</p>
              <p class="table-number">{{psycoMatrix.interest || '-'}}</p>
            </td>
            <td>
              <p class="table-annotation">Труд/Манипуляции</p>
              <p class="table-number">{{psycoMatrix.work || '-'}}</p>
            </td>
            <td>
              <p class="table-annotation">Интеллект</p>
              <p class="table-number">{{psycoMatrix.intelligence || '-'}}</p>
            </td>
            <td>
              <p class="table-annotation">Стабильность</p>
              <p class="table-number">{{psycoMatrix.interest.length + psycoMatrix.work.length + psycoMatrix.intelligence.length || '-'}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="table-annotation">Самооценка</p>
              <p class="table-number">{{psycoMatrix.character.length + psycoMatrix.energy.length + psycoMatrix.interest.length || '-'}}</p>
            </td>
            <td>
              <p class="table-annotation">Работа/Деньги</p>
              <p class="table-number">{{psycoMatrix.health.length + psycoMatrix.sex.length + psycoMatrix.work.length || '-'}}</p>
            </td>
            <td>
              <p class="table-annotation">Талант</p>
              <p class="table-number">{{psycoMatrix.luck.length + psycoMatrix.duty.length + psycoMatrix.intelligence.length || '-'}}</p>
            </td>
            <td>
              <p class="table-annotation">Духовность</p>
              <p class="table-number">{{psycoMatrix.character.length + psycoMatrix.sex.length + psycoMatrix.intelligence.length || '-'}}</p>
            </td>
          </tr>
        </table>
        <h3>Карта инклюзий</h3>
        <table class="inclution-table">
          <tr>
            <td>
              <p class="table-annotation">1</p>
              <p class="table-number">{{inclution[0] || '-'}}</p>
            </td>
            <td>
              <p class="table-annotation">4</p>
              <p class="table-number">{{inclution[3] || '-'}}</p>
            </td>
            <td>
              <p class="table-annotation">7</p>
              <p class="table-number">{{inclution[6] || '-'}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="table-annotation">2</p>
              <p class="table-number">{{inclution[1] || '-'}}</p>
            </td>
            <td>
              <p class="table-annotation">5</p>
              <p class="table-number">{{inclution[4] || '-'}}</p>
            </td>
            <td>
              <p class="table-annotation">8</p>
              <p class="table-number">{{inclution[7] || '-'}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="table-annotation">3</p>
              <p class="table-number">{{inclution[2] || '-'}}</p>
            </td>
            <td>
              <p class="table-annotation">6</p>
              <p class="table-number">{{inclution[5] || '-'}}</p>
            </td>
            <td>
              <p class="table-annotation">9</p>
              <p class="table-number">{{inclution[8] || '-'}}</p>
            </td>
          </tr>
        </table>
      </div>
      <div class="reload-button m-button" @click="copyTableToClipboard">Скопировать</div>
      <div class="reload-button m-button" @click="reset" >Сброс</div>
      <div class="save-button m-button" @click="saveLocally" :class="{'m-button_disabled': isSaved}">{{isSaved? 'Сохранено' : 'Сохранить'}}</div>
    </div>
  </transition>
</div>
<script src="./script.js"></script>
</body>
</html>
