<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Калькулятор Пифагорейской нумерологии</title>
  <link rel="icon" type="image/png" sizes="32x32" href="https://ru.vuejs.org/images/icons/favicon-32x32.png">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <link href="https://fonts.googleapis.com/css?family=Nunito&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div id="app" v-cloak>
    <transition name="input-block" mode="in-out">
      <div v-if="!results.ready" class="input-block block-design">
        <h1>Пифагорейская нумерология</h1>
        <h3>Основное имя:</h3>
        <input v-model="firstName" type="text" placeholder="Имя">
        <input v-model="secondName" type="text" placeholder="Фамилия">
        <input v-model="fathersName" type="text" placeholder="Отчество">
        <div class="date-input-container">
          <input :class="{disabled: !watchDate}" :disabled="!watchDate" v-model="date" type="date" placeholder="Введите дату" value="2020-11-09" />
          <input class="watch-date-checkbox" v-model="watchDate" type="checkbox" />
        </div>
        <label>
          <input v-model="otherName" type="checkbox"> Альтернативное имя
        </label>
        <transition name="other-name">
          <div v-if="otherName">
            <h3>Альтернативное имя:</h3>
            <input v-model="firstName2" type="text" placeholder="Имя">
            <input v-model="secondName2" type="text" placeholder="Фамилия">
            <input v-model="fathersName2" type="text" placeholder="Отчество">
          </div>
        </transition>
        <div class="m-button" @click="countNumbers()" :class="{'m-button_disabled': !valid}">Посчитать</div>
      </div>
    </transition>
    <transition name="fade" mode="in-out">
    <div v-if="results.ready" class="results">
      <h3>ФИО, ДР/ Характеристика</h3>
      <p>{{firstName}} {{secondName}} {{fathersName}}, {{results.day}}.{{results.month}}.{{results.year}}</p>
      <template v-if="watchDate">
        <h3>Число Дня Рождения (ЧДР) – <b>как</b>, каким образом двигается по жизни.</h3>
        <p>{{results.CHDR}}/{{results.CHDR2}}</p>
        <h3>Число Жизненного Пути (ЧЖП) – <b>что</b> делает. Основная задача в жизни, путь, по которому идет.</h3>
        <p>{{results.CHJP}}</p>
        <h3>Число Выражения (ЧВ) – ведущие <b>черты характера</b> и поведения.</h3>
        <p>{{results.CHV}} <span v-if="otherName">({{results.CHV2}})</span></p>
        <h3>Число Души (ЧД) – внутренние <b>мотивы</b>, истинные желания, порывы души, направление духовного развития.</h3>
        <p>{{results.CHD}} <span v-if="otherName">({{results.CHD2}})</span></p>
        <h3>Число Личности (ЧЛ) – впечатление на окружающих, <b>имидж</b>, внешние характеристики.</h3>
        <p>{{results.CHL}} <span v-if="otherName">({{results.CHL2}})</span></p>
        <h3>Число Реализации (ЧР) – число истинного «Я», <b>конечная цель</b> деятельности, к чему стремится.</h3>
        <p>{{results.CHR}} <span v-if="otherName">({{results.CHR2}})</span></p>
        <h3 v-if="results.controlNumbers.length || results.controlNumbers2.length">Управляющие Числа (УЧ)</h3>
        <p>
          <span v-for="(controlNumber, index) in results.controlNumbers">{{controlNumber}}<span v-if="index + 1 < results.controlNumbers.length">,</span></span>
          <span v-if="otherName && results.controlNumbers2.length">
            (<span v-for="(controlNumber, index) in results.controlNumbers2">{{controlNumber}}<span v-if="index + 1 < results.controlNumbers2.length">,</span></span>)
          </span>
        </p>
        <h3 v-if="results.karmicNumbers.length || results.karmicNumbers2.length">Кармические Числа (КЧ)</h3>
        <p>
          <span v-for="(karmicNumber, index) in results.karmicNumbers">{{karmicNumber}}<span v-if="index + 1 < results.karmicNumbers.length">,</span></span>
          <span v-if="otherName && results.karmicNumbers2.length">
            (<span v-for="(karmicNumber, index) in results.karmicNumbers2">{{karmicNumber}}<span v-if="index + 1 < results.karmicNumbers2.length">,</span></span>)
          </span>
        </p>
      </template>

    </div>
    </transition>
  </div>
  <script src="./script.js"></script>
</body>
</html>




































