/* основное */
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Nunito', sans-serif;
}


[v-cloak] {
  display: none;
}

b, .painted {
  color: #00865a;
}

p {
  font-size: 24px;
}

body {
  background-color: #ffffff;
}

h1 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
    user-select: none;
}

h2 {
  text-align: center;
  font-size: 22px;
}

h3 {
  margin: 15px 0;
  font-size: 17px;
}

ul {
    list-style: none;
}

.block-design {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 10px 0;
}

.m-button {
  padding: 0.5em;
  border-radius: 2em;
  background-color: #7fffd4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color linear 0.2s;
}

.m-button_disabled {
  background-color: #bababa;
}

.m-button:hover {
  background-color: #00ffaa;
}

input[type="text"], input[type="date"] {
  font-size: 16px;
  padding: 0.5em;
  border-radius: 2em;
  border: solid 1px #d4d4d4;
  transition: border linear 0.2s, background-color linear 0.2s, color linear 0.2s;
  display: block;
  width: calc(100% - 18px);
  margin: 0 0 10px 0;
  -webkit-appearance: none;
}

.other-name-enter-active,
.other-name-leave-active {
  transition: max-height 1s ease;
  max-height: 193px;
  overflow: hidden;
}

.other-name-enter,
.other-name-leave-to {
  max-height: 0;
  overflow: hidden;
}

.input-block-enter-active,
.input-block-leave-active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: opacity linear .4s;
  opacity: 1;
}

.input-block-enter,
.input-block-leave-to {
  opacity: 0;
}



.fade-enter-active,
.fade-leave-active {
  transition: opacity linear .4s;
  opacity:1;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.input-block {
  margin: 10px;
}

.date-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.watch-date-checkbox {
  margin: 0 0 10px 10px;
  height: 20px;
  width: 20px;
}

input.disabled {
  color: #808080 !important;
  background-color: #757575 !important;
}

.results {
  padding: 10px;
}

.log-line {
    color: #808080;
    background-color: #222222;
}

.saved-list-container {
    position: fixed;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    overflow: auto;
}

.saved-list-item {
    padding: 10px 0;
    border-bottom: #808080 1px solid;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #ffffff;
  }

  .block-design {
    background-color: #222222;
  }

  input[type="text"], input[type="date"] {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #757575;
  }

  .m-button {
    background-color: #483d8b;
  }

  b, .painted {
    color: #9782ff;
  }

  .m-button_disabled {
    background-color: #8581a0;
  }

  .m-button:hover {
    background-color: #7365d3;
  }

    .saved-list-container {
        background-color: #222222;

    }
}
